nav.fixed {
  bottom: inherit;
  left: 0;
  position: fixed;
  top: 0;
}
nav.fixed.desk {
  animation: popDown 0.5s;
}
nav .link-wrap {
  background: #333;
  height: 0;
  max-width: 1200px;
  overflow: hidden;
  position: absolute;
  top: 53px;
  transition: height 0.3s ease-out;
  width: 100%;
}
nav .link-wrap.visible {
  height: 220px;
}
nav .link-wrap div {
  cursor: pointer;
  font-size: 12pt;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: color 0.5s;
}
nav .link-wrap div:first-child {
  padding: 25px 20px 12px 20px;
}
nav .link-wrap div:hover {
  color: tomato;
}
nav .mdi-menu {
  font-size: 30pt;
  line-height: 36pt;
  margin: auto 0;
  position: absolute;
  right: 5vw;
  top: 0;
}

nav .mdi-menu {
  display: none;
}
nav .active {
  color: tomato;
}

/* Home styling */

#home {
  background-color: black;
  color: white;
  text-align: center;
}

.text {
  font-family: Century Gothic;
  font-size: 50px;
  text-decoration: underline;
}

.text-home{
  font-family: Century Gothic;
  font-size: 50px;
}
.cont{
  max-width: 90%;
}

.highlight {
  color: tomato;
  font-family: Century Gothic;
  font-size: 50px;
}

section {
  width: 100%;
  height: calc(100vh + 53px);
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav {
  bottom: 0px;
  left: 0px;
  height: 50px;
  border-bottom: tomato solid;
  position: absolute;
  text-align: left;
  width: 100%;
  z-index: 99;
}

.nav-link {
  color: white;
}


/* About Styling */
#about {
  background-color: white;
  color: black;
  text-align: center;
  
  
}


.progress{
 width: 100%;
 height: 25px;
 
}

.progress-bar{
  background-color:rgb(156, 154, 255);
  font-size: 20px;
 
font-weight: bolder;
 }

.bar{
text-align: left;
font-weight: bolder;
}

/* Portfolio Styling */
#portfolio {
  background-color: rgb(156, 154, 255);
  color: white;
  text-align: center;
  text-decoration: underline;
}
/* Contact Styling */
#contact {
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: underline;
  
}
/* footer Styling */
footer {
  display: block;
  background-color: black;
  position: relative;
  height: 200px;
  width: 100%;
  padding: 70px 0 50px 0;
}

footer .chevron-double-up {
  background: rgb(156, 154, 255);
  cursor: pointer;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  top: -25px;
  color: black;
  text-align: center;
  width: fit-content;


}

.mdi-chevron-double-up::before{
width: 50px;
height: 50px;
line-height: 40pt;
font-size: 30pt;
text-align: center;

}

footer .chevron-double-up:hover {
  background: tomato;
}


footer .mdi {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  
}

footer .footnote {
  color: #8f9aa7;
  font-size: 10pt;
  /* margin-top: 35px; */
  opacity: 0.6;
  text-align: center;
}
.highlight-footer{
  color: tomato;
  font-family: "Open Sans";
}

body {
  
}

/* Navbar Styling */

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex.row {
  flex-direction: row;
}
.flex.wrap {
  flex-wrap: wrap;
}

footer .icon-wrap .icon {
  background: #262f38;
  cursor: pointer;
  font-size: 18pt;
  height: 55px;
  margin: 0 15px;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
  width: 55px;
}
footer .icon-wrap .mdi {
  color: #fff;
  text-align: center;
}

footer .icon-wrap .icon:hover {
  background: rgb(156, 154, 255);
  box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
  transform: scale(0.9);
}
footer .icon-wrap .icon:hover .mdi {
  color: #fff;
}
footer .icon-wrap .icon:hover .mdi {
  -webkit-animation: toBottomFromTop 0.3s forwards;
  -moz-animation: toBottomFromTop 0.3s forwards;
  animation: toBottomFromTop 0.3s forwards;
}

.mdi {
  vertical-align: middle;
}

