/* Navbar Styling */

nav.fixed {
  bottom: inherit;
  left: 0;
  position: fixed;
  top: 0;
  
}

nav.fixed.desk {
  animation: popDown 0.5s;
  
}

nav .link-wrap {
  background-color: black;
  height: 0;
  max-width: 1200px;
  overflow: hidden;
  position: absolute;
  top: 53px;
  transition: height 0.3s ease-out;
  width: 100%;
  
}

nav .link-wrap.visible {
  height: 220px;
  
}

nav .link-wrap div {
  cursor: pointer;
  font-size: 12pt;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: color 0.5s;
  
}

nav .link-wrap div:first-child {
  padding: 25px 20px 12px 20px;
  
}

nav .link-wrap div:hover {
  color: #FF8552;
}

nav .mdi-menu {
  font-size: 30pt;
  line-height: 36pt;
  margin: auto 0;
  position: absolute;
  right: 5vw;
  top: 0;
}

nav .mdi-menu {
  display: none;
}
nav .active {
  color: #FF8552;
}

.nav {
  bottom: 0px;
  left: 0px;
  height: 60px;
  border-bottom: #FF8552 solid;
  position: absolute;
  text-align: left;
  width: 100%;
  z-index: 99;
  font-family: Century Gothic;
  font-size: 20px;
 padding-top: 10px;
 padding-left: 200px;
  
}

.nav-link {
  color: white;
  
}

.bg-dark{
  background-color: black;
}

/* General styling */

section {
  width: 100%;
  height: calc(100vh + 53px);
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  font-family: Century Gothic;
  font-size: 50px;
  text-decoration: underline;
  margin-bottom: 20px;
}

body {
  background-color: white;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Century Gothic;
  

}

/* @media screen and (max-width: 400px) {
  section:nth-of-type(3) #gallery .mix .card {
    width: 100vw;
  }
} */

/* @media screen and (min-width: 600px) {
  body {
    font-size: 12pt;
  } */

  /* @media screen and (min-width: 1280px) {
    section:nth-of-type(4) .blog-wrap {
      margin: 0 0 50px 20px;
      width: 270px;
    }
  } */

  /* @media screen and (min-width: 960px) {
    .waypoint {
      opacity: 0;
    } */
/* Animated shere */

.animation-wrapper {
  width: 50%;
  text-align: center;
}

.sphere-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 580px;
  height: 580px;
  margin: -290px 0 0 -290px;
}

.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 1px;
  stroke: rgba(80, 80, 80, 0.35);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: 0.4px;
  }
}

/* Home styling */

#home {
  background-color: #192A51;
  color: white;
  text-align: center;
}

.text-home {
  font-family: Century Gothic;
  font-size: 50px;
}

.intro {
  position: relative;
  z-index: 0;
}

.btn-outline-light {
  margin-top: 30px;
}

.highlight {
  color: #FF8552;
  font-family: Century Gothic;
  font-size: 50px;
}

/* About Styling */

#about {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 16pt;
}

.cont {
  max-width: 70%;
}

#me{
  margin-top: 20px;
}

.prog-header {
  text-align: center;
  border-bottom: solid black;
  width: 100%;
  font-size: 40px;
}

.progress {
  width: 100%;
  height: 25px;
  margin-top: 10px;
  background-color: lightgray;
}

.progress-bar {
  background-color: #AAA1C8;
  font-size: 20px;
  font-weight: bolder;
  
}

.bar {
  text-align: left;
}

/* Portfolio Styling */

#portfolio {
  background-color: #AAA1C8;
  color: white;
  text-align: center;
  text-decoration: underline;
  
}

/* Contact Styling */

#contact {
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: underline;
  padding-top: 175px;
  height: calc(90vh);
}

/* footer Styling */

footer {
  display: block;
  background-color: #192A51;
  position: relative;
  height: 230px;
  width: 100%;
  padding: 70px 0 50px 0;
  top: 136px;
}

footer .chevron-double-up {
  background: #AAA1C8;
  cursor: pointer;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  top: -25px;
  color: black;
  text-align: center;
  width: fit-content;
}

.mdi-chevron-double-up::before {
  width: 50px;
  height: 50px;
  line-height: 40pt;
  font-size: 30pt;
  text-align: center;
}

footer .chevron-double-up:hover {
  background: #FF8552;
}

footer .mdi {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

footer .footnote {
  margin-top: 5px;
  color: #8f9aa7;
  font-size: 10pt;
  opacity: 0.6;
  text-align: center;
}

.highlight-footer {
  color: #FF8552;
  font-family: "Open Sans";
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex.row {
  flex-direction: row;
}
.flex.wrap {
  flex-wrap: wrap;
}

footer .icon-wrap .icon {
  background: #262f38;
  cursor: pointer;
  font-size: 18pt;
  height: 55px;
  margin: 0 15px;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
  width: 55px;
}
footer .icon-wrap .mdi {
  color: #fff;
  text-align: center;
}

footer .icon-wrap .icon:hover {
  background: #FF8552;
  box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
  transform: scale(0.9);
}
footer .icon-wrap .icon:hover .mdi {
  color: #fff;
}

footer .icon-wrap .icon:hover .mdi {
  -webkit-animation: toBottomFromTop 0.3s forwards;
  -moz-animation: toBottomFromTop 0.3s forwards;
  animation: toBottomFromTop 0.3s forwards;
}

.mdi {
  vertical-align: middle;
}


